In [2]:
a = 10
b = 20
c = a / b
d = a * b
print(c)
print(d)

0.5
200

In [ ]:
# identifiers
# Keyword
# Operators
    # 1. Arithmetic:  +, -, *, /, **, //, %
    # 2. Relational: ==, !=, >, <, >=, <=
    # 3. Assignment: =, +=, -=, *=, ........
    # 4. Logical: and, or, not
    # 5. Membership: in, not in
    # 6. Bitwise:  &, |, ^, ~, <<, >>
    # 7. Identity: is, is not
# Data Types / Data Classes
    # Numeric: int, float, complex
    # Sequences: 
    #       str: immutable collection of characters ''  ""  ''' '''
    #  []   list: mutable & unstructured coll of het elements
    #  ()   tuple: immutable & unstructured coll of het. elements
    # Mapping:
    #  {}   dict: mutable & structured coll of key-value pairs
    # Set:
    #  {}   set: unordered coll of unique items
    # Boolean:
        #   bool: True False (Anything non-zero or non-empty is True)
    # Empty Data:
        # NoneType: None
# Data Operations (Collections)
    # 1. Item Accessing (Indexing/Slicing/Subscripting)
    # 2. Item Insertion
    # 3. Item Assignment (possible with mutable only)
    # 4. Item Deletion (possible with mutable only)
# Data Type Built-in Functions
    # str: upper, lower, find, split, strip, join, format, count, replace
    # list: append, sort, count, copy, insert, remove, index, pop
    # tuple: count, index
    # dict: keys, values, update, get, pop
    # set: add, difference, union, pop, remove

In [ ]:
# 1. No Input and no output args
# 2. Input arg but not output args
# 3. No input but Output args are there
# 4. Both are there

# a. In-place (self update)
# b. Non in-place

In [77]:
p = [3,8,2,4,6,35,6,3,67,3,6,35,7,4,6,46,68]
p1 = set(p)
p1

{2, 3, 4, 6, 7, 8, 35, 46, 67, 68}

In [78]:
p1.add(611)
p1

{2, 3, 4, 6, 7, 8, 35, 46, 67, 68, 611}

In [ ]:
# Deep Copy vs Shallow Copy

In [65]:
e

[1000, 367, 45, 5, 4]

In [66]:
e3 = e
e3

[1000, 367, 45, 5, 4]

In [67]:
e3.append(60)
e3

[1000, 367, 45, 5, 4, 60]

In [68]:
e

[1000, 367, 45, 5, 4, 60]

In [69]:
help(e.copy)

Help on built-in function copy:

copy() method of builtins.list instance
    Return a shallow copy of the list.

In [71]:
e4 = e.copy()
e4.append(8)

In [72]:
e4

[1000, 367, 45, 5, 4, 60, 8]

In [73]:
e3

[1000, 367, 45, 5, 4, 60]

In [74]:
e

[1000, 367, 45, 5, 4, 60]

In [53]:
g['a'] = 44
g

{3: [4, 5], 'a': 44}

In [56]:
list(g.keys())[0]

3

In [63]:
print(g.get('Z', '33'))

33

In [34]:
help(e.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [36]:
e1 = ['hi','wow','good','hey','yes','awesome']

In [38]:
len(e1[0])

7

In [40]:
e1.sort(key=len, reverse = True)
e1

['awesome', 'good', 'hey', 'wow', 'yes', 'hi']

In [35]:
e.sort(reverse=True)
e

[1000, 367, 45, 5, 4, 3]

In [46]:
k = e.pop()
k

3

In [47]:
e

[1000, 367, 45, 5, 4]

In [42]:
f1 = list(f)
f1.sort(reverse = True)
f1 = tuple(f1)
f1

(5, 4, 3)

In [44]:
tuple(sorted(f, reverse=True))

(5, 4, 3)

In [26]:
d.upper()

'HELLO'

In [27]:
d

'hello'

In [15]:
'-'.join('wars')
'#'.join('hi this is a new string'.split())
'hi this is a new string'.replace(' ', '#')
d.count('l')

2

In [20]:
## String Formatting 
x = 20
y = 30
# z = 'Ek aisa data jo 20 to 30 hai'

# (Format Specifiers) - Deprecated
z = 'Ek aisa data jo %d to %d hai'%(x,y)
z1 = 'Ek aisa data jo %d to %d hai lekin %d hi kaafi hai'
z1 = z1%(x,y, x)

# using format function
z = 'Ek aisa data jo {} to {} hai'
z = z.format(x,y)
# z = 'Ek aisa data jo {} to {} hai'.format(x,y)
# Ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai
z1 = 'Ek aisa data jo {0} to {1} hai lekin {0} hi kaafi hai'
z1 = z1.format(x,y)

# using f-string
f'anything'

zf = f'Ek aisa data jo {x} to {y} hai lekin {x} hi kaafi hai'
zf

'Ek aisa data jo 20 to 30 hai lekin 20 hi kaafi hai'

In [1]:
a = 34
b = 34.5
c = 34 + 5j
d = 'hello'
e = [3,4,5]
f = (3,4,5)
g = {3: [4,5]}
h = {3,4,5}

In [66]:
d = d.upper()

In [67]:
d

'HELLO'

In [1]:
s = '468hi3.4'
a = [4,6,8,'hi',3.4]
b = (4,6,8,'hi',3.4)
c = {4:6, 8:['hi',3.4]}
d = {4,6,8,'hi',3.4}

In [2]:
type(s), type(a), type(b), type(c), type(d)

(str, list, tuple, dict, set)

In [3]:
len(s), len(a), len(b), len(c), len(d)

(8, 5, 5, 2, 5)

In [46]:
m = None

In [57]:
print(bool('  '),
bool([]),
bool({}),
bool(()),
bool(-1),
bool(45),)
bool([()])

True False False False True True

True

In [49]:
False

False

In [45]:
## Item Assignment
# s[0] = 'A'  # Not possible
# a[0] = 'A'  # Done
# b[0] = 'A'  # Not possible
# c[4] = 66   # Done

## Item Deletion
# del s[0]  # Not possible
# del a[0]  # Done
# del b[0]  # Not possible
# del c[4]  # Done

In [11]:
s += 'K'
s

'468hi3.4K'

In [13]:
s[3:]

'hi3.4K'

In [14]:
s = s[:3] + 'JoBhiAapChahein' + s[3:]
s

'468JoBhiAapChaheinhi3.4K'

In [16]:
a += ['Bye']
a

[4, 6, 8, 'hi', 3.4, 'Bye']

In [17]:
a = a[:2] + [39] + a[2:]
a

[4, 6, 39, 8, 'hi', 3.4, 'Bye']

In [22]:
(3+4,)*9

(7, 7, 7, 7, 7, 7, 7, 7, 7)

In [23]:
m = ('bye',)
type(m)

tuple

In [28]:
a + b

TypeError: can only concatenate list (not "tuple") to list

In [30]:
(*a,*b,*s)

(4,
 6,
 39,
 8,
 'hi',
 3.4,
 'Bye',
 4,
 6,
 8,
 'hi',
 3.4,
 '4',
 '6',
 '8',
 'J',
 'o',
 'B',
 'h',
 'i',
 'A',
 'a',
 'p',
 'C',
 'h',
 'a',
 'h',
 'e',
 'i',
 'n',
 'h',
 'i',
 '3',
 '.',
 '4',
 'K')

In [33]:
c[99] = [86,'ekValue']
c

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekValue']}

In [36]:
c2 = {'a':45, 'b':35}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekValue']}
{'a': 45, 'b': 35}

In [37]:
{**c, **c2}

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekValue'], 'a': 45, 'b': 35}

In [ ]:
# (*args, **kwargs)

In [10]:
'hi' * 3

'hihihi'

In [5]:
'hi' + 'K'

'hiK'

In [6]:
[4,5] + [3,6]

[4, 5, 3, 6]

In [7]:
(4,5) + (3,6)

(4, 5, 3, 6)

In [9]:
{3,4} + {4,6}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [8]:
{3:4} + {4:6}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [37]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [ ]:
list = [1,2,3,4,5]

In [36]:
t = (4,6,'hi','go',3.5,5+3j, [3,8])
type(t)

tuple

In [34]:
print(t)

[4, 6, 'hi', 'go', 3.5, (5+3j), [3, 8]]

In [35]:
len(t)

7

In [ ]:
MUTABLE & IMMUTABLE
VARIABLE & CONSTANT

In [31]:
k = 3+4j
type(k)

complex

In [27]:
a = 10
b = 20
c = 10
print(id(a), id(b), id(c))

4310549008 4310549328 4310549008

In [29]:
a is c

True

In [25]:
13<<3

104

In [26]:
13 * 8

104

In [24]:
bin(6)

'0b110'

In [22]:
print(13 & 6)
print(13 | 6)

4
15

In [1]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [5]:
p = print('hi')

hi

In [7]:
print(p)

None

In [12]:
print(a)

NameError: name 'a' is not defined

In [11]:
del a

In [38]:
s = 'A sample python statement'
s

'A sample python statement'

In [39]:
len(s)

25

In [40]:
s[0]
s[4]
s[len(s) - 1]

'A'

In [44]:
s

'A sample python statement'

In [46]:
# slicing  s[start : stop (not included) : stepsize]
########## s[0     : end                 : +1]
########## s[ end  : 0                   : -ve  ]
s[2:8:1]

'sample'

In [47]:
s[:8]

'A sample'

In [48]:
s[-9:]

'statement'

In [49]:
s

'A sample python statement'

In [50]:
s[-11:-17:-1]

'nohtyp'

In [51]:
s[:-10:-1]

'tnemetats'

In [52]:
s[::-1]

'tnemetats nohtyp elpmas A'

In [54]:
t = list(t)
t

[4, 6, 'hi', 'go', 3.5, (5+3j), [3, 8]]

In [55]:
t[:3]

[4, 6, 'hi']

In [57]:
t[2][0]

'h'

In [58]:
p = [45,[[[[['1','01'],9],34]]]]

In [66]:
p[-1][0][0][0][0][-1][0]

'0'

In [67]:
d = {'a':34,'b':45,'c':[3,4,5,6,7]}

In [69]:
d['c'][2]

5

In [70]:
d1 = [{'a':34},66,{'66':[{'00':[98,'hi']}, 'awesome', {'m':'n'}]}]